Bacchus/.vs/Bacchus/v16/.suo
Bacchus/Bacchus/bin/Debug/Bacchus.exe
Bacchus/Bacchus/bin/Debug/Bacchus.pdb
Bacchus/Bacchus/obj/Debug/Bacchus.csproj.CoreCompileInputs.cache
Bacchus/Bacchus/obj/Debug/Bacchus.csproj.GenerateResource.cache
Bacchus/Bacchus/obj/Debug/Bacchus.csprojAssemblyReference.cache
Bacchus/Bacchus/obj/Debug/Bacchus.exe
Bacchus/Bacchus/obj/Debug/Bacchus.pdb